.sidebar
  %h3 Users
.content
  #messageContainer
    #messages

  %form#sendMessage
    %input#newMessage{autocomplete: "off", name: "message", type: "text"}
    %input#sendButton{type: "submit", value: "Send"}/