:javascript
  var user = {"id": "#{current_user.id}", "short_name": "#{current_user.short_name}"};
  var room = "#{@room.id}";
  var faye_path = "#{faye_path}";
  head(function () {
    chatInit();
  });

.sidebar
  %h3 Users
.content
  #messageContainer
    #messages
      - @messages.each do |message|
        .message
          .user=message.user.short_name
          .body=message.text

  %form#sendMessage
    %input#newMessage{:autocomplete => "off", :name => "message", :type => "text"}
    %input#sendButton{:type => "submit", :value => "Send"}/
