.sidebar
  %h3 Users
.content
  #messageContainer
    #messages
      - @messages.each do |message|
        .message
          .user=message.user.short_name
          .body=message.text

  %form#sendMessage
    %input#newMessage{:autocomplete => "off", :name => "message", :type => "text"}
    %input#sendButton{:type => "submit", :value => "Send"}/