= partial(:topbar)
.container-fluid
  .page-header
    %h1
      Socket Chat
      %small A Realtime Chat Application
  - if logged_in?
    = partial(:chatbox)
  - else
    %span REGISTER NAO!
  %footer
    %p © Gray 2011